:root {
    --light-black: rgb(50,50,50);
}

/* dropdown */

.dropdown {
    margin-top: 5px;
    position: fixed;
    display: inline-block;
    transform: translate(-50%, 0);
    opacity: 0;
    transition: opacity .1s ease-out;
}

.dropdown-content {
    text-align: left;
    vertical-align: middle;
}

/* selection */

.selection {
    background-color: var(--light-black);
    border-bottom: var(--light-black);
    min-width: 10vw;
    border-bottom: 1px solid #FFFFFFA0;
}

.selection:hover {
    background-color: #42BD85;
    color: white;
}

.all_selections_control {
    background-color: #42BD85;
}

.selections_left {
    position: relative;
    left: -50%;
}

.selections_right {
    position: relative;
    left: 50%;
    transform: translate(0, -100%);
}
