:root {
    --black: rgb(50,50,50);
    --white: #f2f2f2;
}

body {
    margin: 0;
    padding: 0;
}

/* structure */

#banner {
    position: relative;
    background-color: var(--black);
    height: 10vh;
    color: var(--white);
}

#context {
    position: relative;
    height: 85vh;
    width: 100%;
    background-color: #f2f2f2;
}

#foster {
    position: fixed;
    bottom: 0;
    font-size: 1.6vw;
    background-color: var(--light-black);
    color: white;
    height: 5vh;
    width: 100%;
}

#blur_mask {
    position: relative;
    /* TODO */
    height: 0%;
    width: 0%;
    background-color: #f2f2f250;
    backdrop-filter: blur(10px);
    transition: width .5s ease-out;
}

#beginning {
    position: fixed;
    width: 100%;
    height: 85vh;
    transition: width .5s ease-out;
}

#running {
    position: relative;
    width: 100%;
    height: 85vh;
}
