body {
    margin: 0;
    padding: 0;
}

.banner {
    background-color: rgba(0, 0, 0, 0.785);
    height: 10vh;
    color: white;
}

.content {
    height: 85vh;
    width: 100%;
    background-color: #f2f2f2;
}

.foster {
    position: fixed;
    bottom: 0;
    font-size: 1.6vw;
    background-color: rgba(0, 0, 0, 0.785);
    color: white;
    height: 5vh;
    width: 100%;
}

#beginning {
    position: absolute;
    top: 10vh;
    width: 100%;
    height: 85vh;
    background-color: #f2f2f250;
    backdrop-filter: blur(10px);
    transition: width .5s ease-out;
}

.dropdown {
    position: relative;
    display: inline-block
}

.dropdown-list {
    z-index: 8;
    position: absolute;
}

.selection {
    background-color: #f2f2f2;
    border: solid 1px #42BD85;
    border-radius: 5px;
}

