:root {
    --black: rgb(50,50,50);
    --white: #f2f2f2;
}

#running {
    position: relative;
    width: 100%;
    height: 85vh;
}

#code_type {
    position: absolute;
    width: 11vw;
    top: 15%;
    left: 50%;
    font-size: 5vh;
    text-align: center;
    color: var(--white);
    box-shadow: 0px 0px 5px 0px var(--black);
    background-color: #47B84F;
    transform: translate(-50%, 0);
}

#tests {
    position: absolute;
    top: 45%;
    height: 25vh;
    width: 100%;
    transform: translate(0, -50%);
    font-size: 9vw;
    color: white;
    background-color: #4242BD;
    overflow-x: hidden;
}

#target {
    position: absolute;
    transform: translate(-50%, 0%);
    top: 7.5%;
    left: 50%;
    width: 20vh;
    height: 20vh;
    border: #1ECBE1 5px solid;
    border-radius: 10px;
}

#tests_tray {
    display: flex;
    justify-content: flex-start;
    transform: translate(40.5vw,0);
    transition: transform 0.3s ease-out;
}

#tests_tray span {
    display: inline-block;
    margin-left: 5vw;
    transition: transform 0.5s ease-out;
}

#input_field {
    position: absolute;
    top: 65%;
    left: 50%;
    width: 20vw;
    height: 12vh;
    text-align: center;
    vertical-align: middle;
    border: solid 1px #42BD85;
    border-radius: 5px;
    font-size: 5vw;
    transform: translate(-50%, 0);
}
